*{
     border:solid ;
    }
.header{
     background-color: aqua;
     display:flex;
     justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    background-color: cadetblue;
    text-decoration:underline;
    display:flex;
    justify-content: space-around;
}
.footer{
    display:flex;
    justify-content: right;
}